<div>
    <div class="mb-3">
        <label class="form-label text-center w-100">Titulo:</label>
        <input type="text" class="form-control w-50 mx-auto" placeholder="Digite o titulo da sua publicação" [(ngModel)]="titulo">
      </div>
    <div class="mb-3">        
        <label for="exampleFormControlTextarea1" class="form-label text-center w-100">Conteúdo:</label>
        <textarea class="form-control w-50 mx-auto" id="exampleFormControlTextarea1" rows="3" placeholder="Digite aqui oque você deseja compartilar :]" [(ngModel)]="conteudo"></textarea>
        <div class="form-text text-center w-100">
            Em que você está pensando hoje?
            <br>
            <button type="button" class="btn btn-outline-dark btn-sm m-2" routerLink="/pages/postagem/listar" (click)="cadastrar()">Postar</button>
        </div>
        
    </div>
</div>